@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
input {
  font-size: 17px;
  line-height: 1.59;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Pretendard-Regular', -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

body {
  word-break: keep-all;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

body.dialog-open {
  overflow: hidden;
}

body.rules-open #rules-underlay {
  display: block;
}

body.settings-open #settings-underlay {
  display: block;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

#menu {
  display: flex;
  column-gap: .5em;
}

#menu .dialog-close {
  background: transparent;
  color: black;
  padding: 0;
}

.overlay-button {
  position: relative;
  color: black;
  background: none;
  border: none;
  height: 2em;
  font-weight: bold;
  width: 2em;
}

.overlay-button svg {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-underlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.dialog {
  background: white;
  left: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  overflow: hidden;
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: 1;
  border-radius: .5em;
}

.dialog-close {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  color: black;
  font-size: 2em;
  height: 1em;
  line-height: 1em;
  right: .5em;
  top: .5em;
  width: 1em;
  z-index: 2;
}

.dialog-close svg {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  max-height: calc(100vh - 4em);
  padding: 2em;
  overflow: auto;
}

.dialog-content>*:first-child {
  margin-top: 0;
}

.dialog-content>*:last-child {
  margin-bottom: 0;
}

#guess-wrapper {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

#guess-wrapper input,
#give-up-btn {
  padding: .5em;
  border: 1px solid #666666;
  border-radius: 0.2em;
}

#guesses {
  margin-bottom: 40px;
}

#guess-wrapper #guess {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#guess-wrapper #guess-btn {
  color: black;
  background-color: #eeeeee;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

#give-up-btn {
  color: black;
  background-color: #eeeeee;
}

th {
  padding-right: 3em;
  text-align: start;
}

th#chronoOrder,
th#alphaOrder,
th#similarityOrder,
input#give-up-btn,
input#guess-btn,
input#lower,
button {
  cursor: pointer;
}

.gaveup {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #eeeeff;
}

.gaveup>*:first-child {
  margin-top: 0;
}

.close {
  text-align: left;
}

.percentile,
.progress-container,
.progress-bar {
  display: inline-block;
}

.percentile {
  text-align: right;
  width: 5em;
}

.progress-container {
  background-color: #eeeeee;
  width: 10em;
}

.progress-bar {
  background-color: #008000;
}

.weirdWord {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.weirdWord .tooltiptext {
  visibility: hidden;
  width: 20em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3ex 0;
  border-radius: 1ex;

  position: absolute;
  z-index: 1;
}

.weirdWord:hover .tooltiptext {
  visibility: visible;
}

footer {
  margin-top: 200px;
}

@media only screen and (max-width: 640px) {

  body,
  input {
    font-size: 14px;
  }

  table {
    width: 100%;
  }

  th {
    padding-right: .5em;
  }
}

/* Dark mode */
body.dark {
  background: #111;
  color: #fafafa;
  color-scheme: dark;
}

body.dark a {
  color: #9af;
}

body.dark .dialog {
  background: #333;
}

body.dark .dialog-close {
  color: #fafafa;
}

body.dark .progress-container {
  background: #333;
}

body.dark .gaveup {
  background: #334;
}

body.dark .weirdWord {
  border-color: #fafafa;
}

body.dark .overlay-button {
  color: #fafafa;
  height: 2em;
  font-weight: bold;
  width: 2em;
}

body.dark #guess-wrapper #guess-btn {
  color: #fafafa;
  background-color: #333;
}

body.dark #give-up-btn {
  color: #fafafa;
  background-color: #333;
}