<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:title" content="꼬맨틀 — 유사한 단어 목록">
    <meta property="og:url" content="{{ request.base_url }}">
    <meta property="og:image" content="{{ request.host_url }}assets/icon-512.png">
    <meta property="og:description" content="정답과 가장 유사한 단어의 목록입니다. 스포일러 주의!">

    <title>꼬맨틀 — 유사한 단어 목록</title>
    <link rel="stylesheet" href="/assets/css/modern-normalize.min.css">
    <script src="/assets/js/nearest1k.js?v=20230125"></script>

    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y0ED7GGKGN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y0ED7GGKGN');
    </script>
</head>

<body>
    <div id="warning" style="display:none; ">
        <div style="border:thin solid black; background-color: #ffdddd">
            조심하세요! 이 경고문을 클릭하면 <span id="spoiler"></span>의 정답이 표시됩니다.
        </div>
    </div>
    <div id="nearest" style="display:none;">
        꼬맨틀 <b id="day">#{{day}}</b>의 정답은 <b id="word">{{word}}</b>입니다. 가장 유사한 단어는 다음과 같습니다:
        <table>
            <tr>
                <th>유사도 순위</th>
                <th>단어</th>
                <th>유사도</th>
            </tr>
            {% for word in words %}
            <tr>
                <td> {{word['rank']}}</td>
                <td> {{word['word']}}</td>
                <td> {{word['similarity']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br />
    <a href="/">메인 페이지로 돌아가기</a>
</body>

</html>